# DAT210x - Programming with Python for DS

## Module2 - Lab5

Import and alias Pandas:

In [1]:
import pandas as pd

As per usual, load up the specified dataset, setting appropriate header labels.

In [2]:
df = pd.read_csv('Datasets/census.data', na_values = '?')

Excellent.

Now, use basic pandas commands to look through the dataset. Get a feel for it before proceeding!

Do the data-types of each column reflect the values you see when you look through the data using a text editor / spread sheet program? If you see `object` where you expect to see `int32` or `float64`, that is a good indicator that there might be a string or missing value or erroneous value in the column.

In [3]:
df = df.drop(['0'], axis = 1)
df.columns = ['education', 'age', 'capital-gain', 'race', 'capital-loss', 'hours-per-week', 'sex', 'classification']
df.head(5)

,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
0,Bachelors,50,NaN,White,0,13,Male,<=50K
1,HS-grad,38,NaN,White,0,40,Male,<=50K
2,11th,53,NaN,Black,0,40,Male,<=50K
3,Bachelors,28,0.0,Black,0,40,Female,<=50K
4,Masters,37,0.0,White,0,40,Female,<=50K

Try use `your_data_frame['your_column'].unique()` or equally, `your_data_frame.your_column.unique()` to see the unique values of each column and identify the rogue values.

If you find any value that should be properly encoded to NaNs, you can convert them either using the `na_values` parameter when loading the dataframe. Or alternatively, use one of the other methods discussed in the reading.

In [4]:
df['capital-gain']

0            NaN
1            NaN
2            NaN
3            0.0
4            0.0
5            0.0
6            0.0
7        14084.0
8         5178.0
9            0.0
10           0.0
11           0.0
12           0.0
13           0.0
14           0.0
15           0.0
16           0.0
17           0.0
18           0.0
19           0.0
20           0.0
21           0.0
22           0.0
23           0.0
24           0.0
25           0.0
26           0.0
27           0.0
28           0.0
29           0.0
          ...
29505        0.0
29506        0.0
29507        0.0
29508        0.0
29509        0.0
29510        0.0
29511        0.0
29512        0.0
29513        0.0
29514        0.0
29515        0.0
29516        0.0
29517        0.0
29518    15020.0
29519        0.0
29520        0.0
29521        0.0
29522        0.0
29523        0.0
29524        0.0
29525        0.0
29526        0.0
29527        0.0
29528        0.0
29529        0.0
29530        0.0
29531        0.0
29532        0.0
29533        0.0
29534    15024.0
Name: capital-gain, Length: 29535, dtype: float64

Look through your data and identify any potential categorical features. Ensure you properly encode any ordinal and nominal types using the methods discussed in the chapter.

Be careful! Some features can be represented as either categorical or continuous (numerical). If you ever get confused, think to yourself what makes more sense generally---to represent such features with a continuous numeric type... or a series of categories?

In [5]:
df.dtypes

education          object
age                 int64
capital-gain      float64
race               object
capital-loss        int64
hours-per-week      int64
sex                object
classification     object
dtype: object

Lastly, print out your dataframe!

In [6]:
df.head(10)

,education,age,capital-gain,race,capital-loss,hours-per-week,sex,classification
0,Bachelors,50,NaN,White,0,13,Male,<=50K
1,HS-grad,38,NaN,White,0,40,Male,<=50K
2,11th,53,NaN,Black,0,40,Male,<=50K
3,Bachelors,28,0.0,Black,0,40,Female,<=50K
4,Masters,37,0.0,White,0,40,Female,<=50K
5,9th,49,0.0,Black,0,16,Female,<=50K
6,HS-grad,52,0.0,White,0,45,Male,>50K
7,Masters,31,14084.0,White,0,50,Female,>50K
8,Bachelors,42,5178.0,White,0,40,Male,>50K
9,Some-college,37,0.0,Black,0,80,Male,>50K

In [7]:
# Ordinal (categorical but have an underlaying ordering to them): education and classification
# Nominal (categorical but not underlaying ordering to them): sex and race
# Continuous: age, capital-win, capital-loss and hours-p-w